<div class="container">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<a href="#"><p>Where do we live?</p></a>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<a href="#"><p>What is Los Angeles?</p></a>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<a href="#"><p>How about food?</p></a>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<a href="#"><p>Birds are free and you can just take them</p></a>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<a href="#"><p>Five quick ways to die.</p></a>
		</div>
	</div>
</div>