<ul class="admin-tools-list text-center wow fadeInUp">
  <li><a class="btn-admin-all"><i class="fa fa-list fa-2x"></i></a><p>All</p></li>
  <li><a class="btn-admin-create"><i class="fa fa-plus fa-2x"></i></a><p>New</p></li>
  <li><a class="btn-admin-logout"><i class="fa fa-power-off fa-2x"></i></a><p>Logout</p></li>
</ul>