<div class="container admin-tools">
  <div class="row">
    <ul class="tools-list text-center wow fadeInUp">
      <li><a href="/admin"><i class="fa fa-dashboard fa-2x"></i></a><p>Home</p></li>
      <li><a href="/admin/new"><i class="fa fa-plus fa-2x"></i></a><p>New</p></li>
      <li><a href="/admin/logout"><i class="fa fa-power-off fa-2x"></i></a><p>Logout</p></li>
    </ul>
  </div>
</div>