<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
          <a href="#"><p>Where do we live?</p></a>
      </div>
      <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
          <a href="#"><p>What is Los Angeles?</p></a>
      </div>
      <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
          <a href="#"><p>How about food?</p></a>
      </div>
      <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
          <a href="#"><p>Birds are free and you can just take them</p></a>
      </div>
      <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
          <a href="#"><p>Five quick ways to die.</p></a>
      </div>
    </div>
  </div>
</div>