<div class="container admin-posts">
  <div class="row">
    <div class="section-title text-center">
      <h3>Posts</h3>
      <p class="admin-info">{{message}}</p>
    </div>
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 container-posts">
      <ul class="post-items">
        {{#each posts}}
        <li class="post-item">
          <a href="/admin/{{this._id}}">
            <p class="lead">{{this.title}}
              <span class="pull-right"><i class="fa fa-pencil"></i></span>
            </p>
          </a>
        </li>
        {{/each}}
      </ul>
  </div>
</div>