<div class="container admin-posts">
  <div class="row">
    <div class="section-title text-center">
      <h3>Posts</h3>
    </div>
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 container-posts">
      <ul class="post-items">
        <li class="post-item">
          <a href="#"><p class="lead">Where do we live?</p></a>
        </li>
        <li class="post-item">
            <a href="#"><p class="lead">What is Los Angeles?</p></a>
        </li>
        <li class="post-item">
            <a href="#"><p class="lead">How about food?</p></a>
        </li>
        <li class="post-item">
            <a href="#"><p class="lead">Birds are free and you can just take them</p></a>
        </li>
        <li class="post-item">
            <a href="#"><p class="lead">Five quick ways to die.</p></a>
        </li>
      </ul>
  </div>
</div>