.episodes {
  padding-bottom: 100px;
  .episode-post {
    .img-episode {
      margin-bottom: 20px;
      display: inline-block;
      overflow: hidden;
      position: relative;
      &:hover {
        .magnifier {
          opacity: 1;
          visibility: visible;
        }
        img {
          zoom: 1;
          filter: alpha(opacity=50);
          opacity: 0.5;
        }
      }
      .magnifier {
        position:absolute;
        background-color: $primarydark;
        text-align: center;
        top: 0;
        left: 0;
        z-index: 998;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        h3 {
          margin-top: 20%;
          color: $primarylight;
          &:hover {
            color: $secondarylight;
          }
        }
        a {
          font-weight: normal;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
      img {
        zoom: 1;
        filter: alpha(opacity=100);
        opacity: 1;
        -webkit-transition: all 0.9s ease 0s;
        -moz-transition: all 0.9s ease 0s;
        -ms-transition: all 0.9s ease 0s;
        -o-transition: all 0.9s ease 0s;
        transition: all 0.9s ease 0s;
      }
    }
  }
  .episode-info {
    color: $black;
    a {
      text-decoration: none;
    }
    .episode-title {
      cursor: pointer;
      text-align: center;
      &:hover {
        color: $primarydark;
      }
    }
    .episode-caption {
      padding: 0 5em 1em 5em;
      text-align: left;
      color: $black;
    }
  }
}