$primarysans: "Raleway";
$primaryserif: "Dosis";
$secondaryserif: "Cochin";

$primarylight: #cfe7f0;
$primarydark: #40768c;

$secondarylight: #dd4438;
$secondarydark: #b94721;

$primarygrey: #ccc;

$white: #fff;
$black: #000;
$black90: #404041;
$black70: #6d6e71;
$black50: #929497;
$black20: #d0d2d3;
$black10: #e6e7e8;
$black5: #f1f1f2;

$screen-xxs: 320px;