@import url(http://fonts.googleapis.com/css?family=Raleway:700,400);

.landing {
  .landing-content {
    position: relative;
     .landing-text {
      font-family: $primaryserif;
      text-transform: uppercase;
      position: absolute;
      @media (min-width: $screen-sm) {
        margin-top: 5%;
      }
      @media (min-width: $screen-md) {
        margin-top: 10%;
      }
      h1 {
        color: $primarydark;
      }
      h4 {
        line-height: 1.4em;
        color: $black;
        font-weight: normal;
        @media (min-width: $screen-xxs) {
          font-size: 16px;
        }
        @media (min-width: $screen-xs) {
          font-size: 18px;
        }
        @media (min-width: $screen-sm) {
          font-size: 20px;
       }
      }
    }
  }
}