@import url(http://fonts.googleapis.com/css?family=Raleway:700,400);

.menufix {
  background: $primarylight;
}

.btn.btn-default.btn-lg.btn-general {
  color: $white !important;
  background: $secondarylight;
  border: 2px solid $primarylight;
  border-radius: 4%;
  font-weight: 600;
  text-transform: uppercase;
  padding: 17px 40px;
  letter-spacing: 0px;
  font-size: 17px;
}

.btn.btn-default.btn-lg.btn-general.btn-admin-edit, .btn.btn-default.btn-lg.btn-general.btn-admin-delete {
  width: 140px;
  padding: 4% 10%;
}