.header {
  .menu-wrapper.affix {
    position: relative;
    position: fixed;
    background: $white;
    height: 50px;
    width: 100%;
    padding:0;
    margin:0;
    top: 0;
    right: 0;
    z-index: 9000;
    transition: all 0.8s;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
  }
  .navbar-default {
    background: $white;
    .navbar-toggle {
      border: none;
      background: none;
    }
    .navbar-nav {
      margin: 15px 10px -10px 10px;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 19px;
      font-family: $primarysans;
      color: $primarydark;
      .navbar-right {
        li a { 
          outline: none;
        }
      }
    }
  }
}