p.lead {
  font-family: $primarysans;
  color: $black;
}

.btn-general {
  color: $white;
  background: $secondarylight;
  border: 2px solid $primarylight;
  border-radius: 4%;
  font-weight: 600;
  text-transform: uppercase;
  padding: 17px 40px;
  letter-spacing: 0px;
  font-size: 17px;
}

button.btn-red {
  font-family: $primaryserif;
  background: $secondarylight;
  border-bottom: 2px solid $secondarydark;
  border-radius: 2px;
  border-top: none;
  color: $white;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  outline: 0;
  height: 50px;
  line-height: 1.8em;
  text-align: center;
  width: auto;
  padding-left: 1em;
  padding-right: 1em;
  &:hover {
    background: $secondarylight;
    border-bottom: 2px solid $secondarydark;
    border-radius: 4px;
    color: $primarylight;
    margin-bottom: -2px;
  }
  &:focus {
    background: $secondarylight;
    border-bottom: 2px solid $secondarydark;
    color: $white;
  }
}

.form-control {
  border: 1px solid $secondarylight;
  border-radius: 2px;
  background:  $white;
  color: $black;
  font-family: $primarysans;
  font-size: 20px;
}