<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-bars fa-3x"></span>
      </button>
      <a href="/"><img class="img-responsive img-nav" src="assets/img/mi-logo-800.png"></a>
    </div>
    <div class="navbar-collapse collapse" id="collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#episodes"><p>Episodes</p></a></li>
        <li><a href="/blog"><p>Blog</p></a></li>
        <li><a href="/#about"><p>About</p></a></li>
        <li><a href="/#contact"><p>Contact</p></a></li>
      </ul>
	  </div>
  </div>
</nav>