<section id="about" class="section-w clearfix">
  <div class="container">
    <div class="section-title text-center">
      <h3><span class="font-backend">A</span> About Music Insider</h3>
      <p class="lead">With each episode, our guest's explore the three most pivotal times of their careers</p>
      <p class="lead">First, we go right to where it all begins, the struggle. Our guest's dig deep and tell us about their toughest obstacle and what they did to overcome it.</p> 
      <p class="lead">Next, it’s all about the turning point, and how our guest's put themselves in a position where opportunity found them.</p>
      <p class="lead">Last, it’s time to seize the day, and make your lives extraordinary.  Our guest's take us to that “carpe diem” moment, and how they turned opportunity into life-changing success.</p>
      <p class="lead">Each show ends with two empowering pieces of advice that will help separate you from the pack and win in this business.</p>
    </div>

    <div class="section-wrapper">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="service-box text-center">
            <span class="service-icon border-radius">01</span>
            <h3>Music</h3>
            <p>Mauris id viverra augue, eu porttitor diam. Praesent faucibus est a interdum elementum. Nam varius at ipsum id dignissim</p>
            </div>
          </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="service-box text-center">
            <span class="service-icon border-radius">02</span>
            <h3>Experts</h3>
            <p>Mauris id viverra augue, eu porttitor diam. Praesent faucibus est a interdum elementum. Nam varius at ipsum id dignissim</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="service-box text-center">
            <span class="service-icon border-radius">03</span>
            <h3>Microphones</h3>
            <p>Mauris id viverra augue, eu porttitor diam. Praesent faucibus est a interdum elementum. Nam varius at ipsum id dignissim</p>
          </div>
        </div>
      </div>
    </div>

    <div class="section-wrapper">
      <div class="text-center">
        <a class="btn btn-default btn-lg btn-general" href="#">All Episodes</a>
      </div>
    </div>

  </div>
</section>