  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Music Insider</title>
	<link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <link rel="stylesheet" href="../vendor/css/bootstrap.css">
  <link rel="stylesheet" href="../vendor/css/animate.css">
  <link rel="stylesheet" href="../vendor/css/et-line.css">
  <link rel="stylesheet" href="../vendor/css/font-awesome.css">
  <link rel="stylesheet" href="../assets/css/style.css">
