<!DOCTYPE html>
<html lang="en">
<head>
	{{>head}}
</head>
<body class="menufix">
	{{>_navbar}}
  
	<div class="admin">
    {{>_tools}}
  	{{{body}}}
	</div>
	
	{{>_footer}}
  {{>scripts}}
</body>
</html>