<!DOCTYPE html>
<html lang="en">
<head>
	{{>head}}
</head>
<body class="menufix">
	{{>_navbar}}
	{{>_tools}}

	<div class="admin-dashboard"></div>
  	{{{body}}}
	</div>
	
	{{>_footer}}
  {{>scripts}}
</body>
</html>