<% include ./dependencies/head %>

<body class="menufix">
  
  <% include ./pages/index %>


	<!-- UNDERSCORE TEMPLATES -->

  <script type="text/template" id="dashboard-template">
    <ul class="admin-tools-list text-center wow fadeInUp">
      <li><a class="btn-admin-create"><i class="fa fa-plus fa-2x"></i></a><p>New</p></li>
      <li><a class="btn-admin-edit"><i class="fa fa-pencil fa-2x"></i></a><p>Edit</p></li>
      <li><a class="btn-admin-all"><i class="fa fa-list fa-2x"></i></a><p>All</p></li>
      <li><a class="btn-admin-upload"><i class="fa fa-cloud-upload fa-2x"></i></a><p>Upload</p></li>
      <li><a class="btn-admin-logout"><i class="fa fa-power-off fa-2x"></i></a><p>Logout</p></li>
      <li><a class="btn-admin-hide"><i class="fa fa-toggle-up fa-2x"></i></a><p>Close</p></li>
    </ul>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 admin-form-container wow">
          
        </div>
      </div>
    </div>
  </script>

  <script type="text/template" id="welcome-template">
    <div class="text-center">
      <h1>DASHBOARD</h1>
      <span><i class="fa fa-dashboard fa-5x"></i></span>
    </div>
  </script>

	<script type="text/template" id="form-login-template">
    <form class="form-horizontal wow fadeInDown">  
      <div class="form-group">
        <label>Email</label>
        <input class="form-control admin-input" type="email" id="email">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input class="form-control admin-input" type="password" id="password">
      </div>
      <div class="form-group">
        <a class="btn btn-default btn-lg btn-general btn-form-admin-login">Login</a>
      </div>
      <div class="text-center error"></div>
    </form>
	</script>

  <script type="text/template" id="form-new-template">
    <form class="form-horizontal wow fadeInUp">
      <div class="form-group">
        <label>Title</label>
        <input id="post-title" type="text" class="form-control admin-input">  
      </div>
      <div class="form-group">
        <textarea id="post-body" class="form-control admin-input" rows="10"></textarea> 
      </div>
      <div class="form-group">
        <a class="btn btn-default btn-lg btn-general btn-form-admin-create">Publish</a>
      </div>
    </form>
  </script>

  <script type="text/template" id="form-edit-template">
    <form class="form-horizontal">
      <div class="form-group">
        <label>Title</label>
        <input id="post-title" type="text" class="form-control admin-input" value="<%%= title %>">  
      </div>
      <div class="form-group">
        <textarea id="post-body" class="form-control admin-input" rows="10" ><%%= body %></textarea> 
      </div>
      <div class="form-group">
        <a class="btn btn-default btn-lg btn-general btn-form-admin-update">Update</a>
      </div>            
      <div class="form-group">
        <a class="btn btn-default btn-lg btn-general btn-form-admin-delete">Delete</a>
      </div>
    </form>
  </script>

  <script type="text/template" id="blog-post-template">
    <div class="blog-item col-md-6 col-sm-6 col-xs-12">
      <div class="post-media entry">
        <img src="assets/img/blog_01.jpg" class="img-responsive">
        <div class="magnifier">
          <div class="buttons text-center">
            <h3><a href="#">Listen</a></h3>
            <div class="admin-tool">
              <a class="btn btn-default btn-lg btn-general btn-admin-edit">Edit</a>
            </div>
          </div><!-- end buttons -->
        </div>
      </div><!-- end entry -->
      <div class="desc">
        <h3 class="section-title"><a href="#"><%%= title %></a></h3>
        <p><%%= body %></p>
      </div><!-- end desc -->
    </div><!-- end blog --> 
  </script>

<% include ./dependencies/scripts %>

</body>
</html>