<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<% include ./dependencies/head %>

</head>
<body class="menufix">
  
  <% include ./pages/index %>

  <% include ./templates/dashboard %>
  <% include ./templates/login %>
  <% include ./templates/dashboard-posts %>
  <% include ./templates/posts %>

  <% include ./dependencies/scripts %>
</body>
</html>