<% include ./dependencies/head %>

<body class="menufix">
  
  <% include ./pages/index %>


  <% include ./templates/dashboard %>
  <% include ./templates/login %>
  <% include ./templates/dashboard-posts %>
  <% include ./templates/posts %>

  <% include ./dependencies/scripts %>
</body>
</html>