<% include ./dependencies/head %>

<body class="menufix">
  
  <% include ./pages/index %>


	<!-- UNDERSCORE TEMPLATES -->

  <% include ./templates/dashboard %>
  <% include ./templates/login %>

	

  <script type="text/template" id="form-new-template">
    <form class="form-horizontal wow fadeInUp">
      <div class="form-group">
        <label>Title</label>
        <input id="post-title" type="text" class="form-control admin-input">  
      </div>
      <div class="form-group">
        <textarea id="post-body" class="form-control admin-input" rows="10"></textarea> 
      </div>
      <div class="form-group">
        <a class="btn btn-default btn-lg btn-general btn-form-admin-create">Publish</a>
      </div>
    </form>
  </script>

  <script type="text/template" id="form-edit-template">
    <form class="form-horizontal">
      <div class="form-group">
        <label>Title</label>
        <input id="post-title" type="text" class="form-control admin-input" value="<%%= title %>">  
      </div>
      <div class="form-group">
        <textarea id="post-body" class="form-control admin-input" rows="10" ><%%= body %></textarea> 
      </div>
      <div class="form-group">
        <a class="btn btn-default btn-lg btn-general btn-form-admin-update">Update</a>
      </div>            
      <div class="form-group">
        <a class="btn btn-default btn-lg btn-general btn-form-admin-delete">Delete</a>
      </div>
    </form>
  </script>

  <script type="text/template" id="blog-post-template">
    <div class="blog-item col-md-6 col-sm-6 col-xs-12">
      <div class="post-media entry">
        <img src="assets/img/blog_01.jpg" class="img-responsive">
        <div class="magnifier">
          <div class="buttons text-center">
            <h3><a href="#">Listen</a></h3>
            <div class="admin-tool">
              <a class="btn btn-default btn-lg btn-general btn-admin-edit">Edit</a>
            </div>
          </div><!-- end buttons -->
        </div>
      </div><!-- end entry -->
      <div class="desc">
        <h3 class="section-title"><a href="#"><%%= title %></a></h3>
        <p><%%= body %></p>
      </div><!-- end desc -->
    </div><!-- end blog --> 
  </script>

<% include ./dependencies/scripts %>

</body>
</html>