<div class="container about" id="about">
  <div class="row">
    <div class="col-lg-12 col-xs-12">
      <div class="section-title text-center">
        <h3><span class="font-backend">A</span> About Music Insider</h3>
      </div>
      <div class="row">
        <div class="col-sm-5 col-sm-offset-1 col-xs-12 about-content">
          <p class="lead">We all know what happens once someone has “made it”, that’s why MTV Cribs was created. But, let’s go back to where it all began.When life maybe wasn’t so glamorous, and there was just a couple of dreams to chase. These are the times that are most compelling. Every accomplishment is thrilling, each failure is terrifying, and no matter what – you keep moving forward.</p>
        </div>
        <div class="col-sm-5 col-sm-offset-1 about-content about-img-container">
          <div class="about-img" style="background-image: url('http://s3.reutersmedia.net/resources/r/?m=02&d=20100304&t=2&i=70330037&w=&fh=545px&fw=&ll=&pl=&r=2010-03-04T125639Z_01_BTRE6230ZYL00_RTROPTP_0_FRANCE-GRANDMOTHER-DJ')"></div>
        </div>
        <div class="col-sm-8 col-sm-offset-2 col-xs-12 about-content">
          <p class="emphasis">That’s where we’re going in this podcast.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 col-sm-offset-1 about-img-container">
          <div class="about-img" style="background-image: url('http://www.usonica.com/images/2010/03/Ruth-Flowers.jpg')"></div>
        </div>
        <div class="col-sm-5 col-sm-offset-1 col-xs-12 about-content">
          <p class="lead">With each episode, our guest's explore the three most pivotal times of their career.</p>
          <ol>
            <li><p class="lead">First, we go right to where it all begins, the struggle. Our guest's dig deep and tell us about their toughest obstacles and what they did to overcome it.</p></li>
            <li><p class="lead">Next, it’s all about the turning point, as our guest’s tell us how opportunity found them.</p></li>
            <li><p class="lead">Last, we go to that “carpe diem” moment when our guests took their opportunity, seized the day, and turned it into life-changing success.</p></li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-xs-12 about-content">
          <p class="emphasis">Each show ends with two empowering pieces of advice that will help separate you from the pack, <em> so all you do is win, win, win, no matter what.</em></p>
        </div>
      </div>
    </div>
  </div>
</div>  