<section id="about" class="section-w clearfix">
  <div class="container section-about">
    <div class="section-title text-center">
      <h3><span class="font-backend">A</span> About Music Insider</h3>
    </div>
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
          <p class="lead">With each episode, our guest's explore the three most pivotal times of their careers</p>
          <p class="lead">First, we go right to where it all begins, the struggle. Our guest's dig deep and tell us about their toughest obstacle and what they did to overcome it.</p> 
          <p class="lead">Next, it’s all about the turning point, and how our guest's put themselves in a position where opportunity found them.</p>
          <p class="lead">Last, it’s time to seize the day, and make your lives extraordinary.  Our guest's take us to that “carpe diem” moment, and how they turned opportunity into life-changing success.</p>
          <p class="lead">Each show ends with two empowering pieces of advice that will help separate you from the pack and win in this business.</p>
        </div>
      </div>
  </div>
</section>