<div class="container episodes" id="episodes">
  <div class="row">           
    <div class="section-title text-center">
      <h3><span class="font-backend">R</span> Recent Episodes</h3>
    </div>
      {{>_posts}}
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <button class="btn-red" href="/blog"><p>All Episodes</p></button>
      </div>
    </div>
  </div>
</div>