<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-offset-1 col-xs-12">
      <img class="img-responsive wow slideInUp" data-wow-delay="1s" src="assets/img/logo-1920.png">
      <button class="btn-red">Stream Now</button>
    </div>
  </div>
</div>