<div class="container landing">
  <div class="row landing-content">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-left landing-text">
        <h4>Music Insider delivers inspiring interviews of successful industry experts, artists, and songwriters, sharing their “before we made it” stories</h4>
        <h1>Start Listening</h1>
        <button class="btn-red"><p>Stream Now</p></button>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-right landing-logo">
        <img class="img-responsive wow slideInUp" data-wow-delay="1s" src="assets/img/mi-logo-800.png">
      </div>
  </div>
</div>