.blog-posts {
  .blog-item {
    background-color: $white;
    margin-bottom: 15px;
    border-radius: 2px;
    padding: 25px;
    border-bottom: 1px solid $black20;
    border-right: 1px solid $black10;
    .blog-header {
      text-transform: uppercase;
    }
    a {
      text-decoration: none;
    }
    .blog-img {
      img {
        float: right;
        max-width: 200px;
      }
    }
  }
}