@import url(http://fonts.googleapis.com/css?family=Raleway:700,400);



span.tagline {
  line-height: 1.3em;
}

.form-col {
  padding-right: 10px;
  padding-left: 10px;
  border: 2px solid #ddd;
}

p.lead {
  font-family: 'Raleway', sans-serif;
  color: #000;
}

.tp-caption.slider_01 {
  color: #000;
}

.slider_01, .slider_02, .tp-caption.slider_02 {
  color: #40768c;
}

label {
  color: #fff;
}

.menufix {
  background: #cfe7f0;
}

.section-g, .section-w {
  background: #cfe7f0;
  color: #000;
}

.section-title h3 {
  color: #40768c;
}

.section-title h3 span {
  color: #fff;
}



.btn-admin-site {
  color: #fff;
  cursor: pointer;
}

.btn-admin-site i {
  font-size: 1.5em;
  margin-top: -4px;
}

.blog-item h3 {
  text-align: center;
  text-transform: uppercase;
}

.blog-item h3 a {
  color: #000;
  font-family: 'Raleway', sans-serif;
}

.blog-item h3 a:hover {
  text-decoration: none;
}

.blog-item-body {
  color: #000;
}

.desc p {
  color: #000;
  font-family: 'Raleway', sans-serif;
}

.btn.btn-default.btn-lg.btn-general {
  color: #fff !important;
  background: #dd4438;
  border: 2px solid lightblue;
  border-radius: 4%;
  font-weight: 600;
  text-transform: uppercase;
  padding: 17px 40px;
  letter-spacing: 0px;
  font-size: 17px;
}

.btn.btn-default.btn-lg.btn-general.btn-admin-edit, .btn.btn-default.btn-lg.btn-general.btn-admin-delete {
  width: 140px;
  padding: 4% 10%;
}

#post-content .meta .admin-tools .pull-right a.btn.btn-default.btn-lg.btn-general, #post-content .meta .pull-left p {
  color: #fff !important;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
  margin-right: 10px;
}

.about-widget, .contact-widget {
  font-family: 'Raleway', sans-serif;
}

.section-about .section-title {
  padding-bottom: 50px;
}

.section-about p.lead {
  text-align: left;
}