/* line 2, scss/admin/_tools.scss */
.admin ul.tools-list li {
  display: inline-block;
  padding-right: 15px;
  color: #000;
  position: relative;
}
/* line 8, scss/admin/_tools.scss */
.admin .tools-list {
  border-bottom: 1px solid #ddd;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 35px;
  padding-left: 0;
}
/* line 14, scss/admin/_tools.scss */
.admin .tools-list a {
  cursor: pointer;
}
/* line 15, scss/admin/_tools.scss */
.admin .tools-list .fa {
  background: #dd4438;
  border-bottom: 2px solid #b94721;
  border-radius: 2px;
  border-top: none;
  color: #fff;
  outline: 0;
  height: 50px;
  line-height: 1.8em;
  text-align: center;
  width: 50px;
}
/* line 26, scss/admin/_tools.scss */
.admin .tools-list .fa:hover {
  background: #dd4438;
  border-bottom: 2px solid #b94721;
  border-radius: 4px;
  color: #fff;
  margin-bottom: -2px;
}
/* line 33, scss/admin/_tools.scss */
.admin .tools-list .fa:focus {
  background: #dd4438;
  border-bottom: 2px solid #b94721;
  color: #fff;
}

/* line 2, scss/admin/_form.scss */
.admin .form-control {
  border: 1px solid #dd4438;
  border-radius: 2px;
  background: #fff;
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-weight: bold;
}
/* line 12, scss/admin/_form.scss */
.admin textarea {
  height: 80%;
  resize: vertical;
}
