<script type="text/template" id="blog-post-template">
  <div class="blog-item col-md-6 col-sm-6 col-xs-12">
    <div class="post-media entry">
      <img src="assets/img/blog_01.jpg" class="img-responsive">
      <div class="magnifier">
        <div class="buttons text-center">
          <h3><a href="#">Listen</a></h3>
          <div class="admin-tool">
            <a class="btn btn-default btn-lg btn-general btn-admin-edit">Edit</a>
          </div>
        </div><!-- end buttons -->
      </div>
    </div><!-- end entry -->
    <div class="desc">
      <h3 class="section-title"><a href="#"><%%= title %></a></h3>
      <p><%%= body %></p>
    </div><!-- end desc -->
  </div><!-- end blog --> 
</script>