.admin {
  ul.admin-tools-list li {
    display: inline-block;
    padding-right: 15px;
    color: #000;
    position: relative;
  }
  .admin-tools-list {
    border-bottom: 1px solid #ddd;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 35px;
    padding-left: 0;
    a { cursor: pointer; };
    .fa {
      background: #dd4438;
      border-bottom: 2px solid #b94721;
      border-radius: 2px;
      border-top: none;
      color: #fff;
      outline: 0;
      height: 50px;
      line-height: 1.8em;
      text-align: center;
      width: 50px;
      &:hover {
        background: #dd4438;
        border-bottom: 2px solid #b94721;
        border-radius: 4px;
        color: #fff;
        margin-bottom: -2px;
      }
      &:focus {
        background: #dd4438;
        border-bottom: 2px solid #b94721;
        color: #fff;
      }
    }
  }
}