.admin {

}

.admin-form-container {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 2%;
  margin-bottom: 25px;
  background:  #cfe7f0;
  color: #fff;
  border: 1px solid #fff;
  text-transform: uppercase;
}

.admin-form-container h1 {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-weight: 500;
}

.btn-admin-site {
  color: #fff;
  float: left;
  cursor: pointer;
}

.admin-form-login {
  z-index: 1000;
}

input.form-control.admin-input, textarea.form-control.admin-input {
  border: 1px solid #ddd;
  border-radius: 2px;
  background:  #dd4438;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

textarea.form-control.admin-input {
  height: 80%;
  resize: vertical;
}