span.dashboard-close i {
  color: #000;
  margin-top: 5px;
  float: right;
  cursor: pointer;
}

p.dashboard-thanks {
  margin-top: 35px;
  font-size: 30px;
}

.admin-tools-list {
  border-bottom: 1px solid #ddd;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 35px;
  padding-left: 0;
}

ul.admin-tools-list li {
  display: inline-block;
  padding-right: 15px;
  color: #000;
  position: relative;
}

ul.admin-tools-list li a {
  cursor: pointer;
}

.admin-tools-list i {
  background: #dd4438;
  border-bottom: 2px solid #b94721;
  border-radius: 2px;
  border-top: none;
  color: #fff;
  outline: 0;
  height: 50px;
  line-height: 1.8em;
  text-align: center;
  width: 50px;
}

.admin-tools-list i:hover {
  background: #dd4438;
  border-bottom: 2px solid #b94721;
  border-radius: 4px;
  color: #fff;
  margin-bottom: -2px;
}

.admin-tools-list i:focus {
  background: #dd4438;
  border-bottom: 2px solid #b94721;
  color: #fff;
}

.admin-form-container {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 2%;
  margin-bottom: 25px;
  background:  #cfe7f0;
  color: #fff;
  border: 1px solid #fff;
  text-transform: uppercase;
}

.admin-form-container h1 {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-weight: 500;
}

.fa.fa-dashboard {
  font-size: 13em;
  color: #40768c;
}

.btn-admin-site {
  color: #fff;
  float: left;
  cursor: pointer;
}

.admin-form-login {
  z-index: 1000;
}

input.form-control.admin-input, textarea.form-control.admin-input {
  border: 1px solid #ddd;
  border-radius: 2px;
  background:  #dd4438;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

textarea.form-control.admin-input {
  height: 80%;
  resize: vertical;
}