<div class="container">
  <div class="row">
    <div class="section-title text-center">
    <h2><span class="font-backend">B</span> Blog</h2>
    </div>
    {{#each posts}}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <a href="/blog/{{this.link}}"><h3>{{this.title}}</h3></a>
      <p class="lead">{{this.body}}</p>
    </div>
    {{/each}}
  </div>
</div>