<div class="container single-post">
  <div class="row container-post">
    <div class="post-header">
      <h1>{{post.title}}</h1>
    </div>
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
      <p class="lead">{{post.body}}</p>
    </div>
  </div>
</div>