<section class="clearfix">
  <div class="container">
    <div class="section-title text-center">
      <h3><span class="font-backend">E</span> Episodes</h3>
      <p class="lead">Music Insider talks to the best and only the best when being the best because we're the best and that's what the best do</p>
    </div>
  </div>
 <div class="container">
    <div class="row">
      <div id="post-content" class="col-md-12 col-sm-12 col-xs-12 pull-left">
      	<div class="blog-list row" id="podcast-episode">           
          <!-- blog posts -->
        </div>
      </div>
		</div>
	</div>
</section>

<!-- IMAGE POP-UP -->
<div class="section-wrapper">
  <div class="image-center wow bounceInUp">
    <img src="assets/img/device_01.png" class="img-responsive">
  </div>
</div>