<article class="slider-wrapper">
  <div class="tp-banner-container">
    <div class="tp-banner" >
      <ul>
        <li data-transition="slideup" data-slotamount="3" data-masterspeed="1000" data-thumb="assets/img/slider_27.jpg"  data-saveperformance="off"  data-title="Parallax 3D">
          <img src="assets/img/dummy.png"  data-lazyload="assets/img/logo-1920.png" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
          <div class="tp-caption slider_01 skewfromright randomrotateout tp-resizeme rs-parallaxlevel-2"
              data-x="left"
              data-y="280" 
              data-speed="1000"
              data-start="1200"
              data-easing="Power3.easeInOut"
              data-splitin="none"
              data-splitout="none"
              data-elementdelay="0.1"
              data-endelementdelay="0.1"
              data-endspeed="1000"
              style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;"> <span class="tagline">Music Insider delivers inspiring interviews <br>of successful industry experts, artists, and songwriters, <br>sharing their “before we made it” stories</span>
          </div>
          <div class="tp-caption slider_02 skewfromleft randomrotateout tp-resizeme rs-parallaxlevel-2"
              data-x="left"
              data-y="340" 
              data-speed="1000"
              data-start="1400"
              data-easing="Power3.easeInOut"
              data-splitin="none"
              data-splitout="none"
              data-elementdelay="0.1"
              data-endelementdelay="0.1"
              data-endspeed="1000"
              style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">Start listening
          </div>
          <div class="tp-caption sliderbtn skewfromleft randomrotateout tp-resizeme rs-parallaxlevel-2"
              data-x="left"
              data-y="465" 
              data-speed="1000"
              data-start="1600"
              data-easing="Power3.easeInOut"
              data-splitin="none"
              data-splitout="none"
              data-elementdelay="0.1"
              data-endelementdelay="0.1"
              data-endspeed="1000"
              style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;"><a href="#" class="btn btn-default btn-lg btn-general">Stream Now</a>
          </div>
        </li>
      </ul>   
    </div>
  </div>  
</article>