<div id="preloader">
  <div id="spinner"></div>
  <img class="preloader" src="assets/img/loader.gif">
</div>

<div class="wrapper">
  <header class="header-nav header">
    <div class="menu-wrapper">
      <nav class="navbar yamm navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="fa fa-bars fa-3x"></span>
	          </button>
          </div>
          <div id="collapse" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">     	
              <li><a href="#episodes">Episodes</a></li>
              <li><a href="#about">About</a></li>
	            <li><a href="#contact">Contact</a></li>
              <li><a class="btn-admin-site"><i class="fa fa-user-secret"></i></a></li>
  		      </ul>
  			  </div>
			  </div><!--/.container-fluid -->
		  </nav>
	  </div><!-- end menu-wrapper -->
  </header>
</div>

<div class="admin-dashboard">
  <!-- admin-dashboard -->
</div>
